{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница не найдена</h1>

    <p>
        Возможно страница удалена, попробуйте авторизоваться либо <a href="{{ path('app_wish') }}">вернуться на главную</a>.
    </p>
{% endblock %}